**/node_modules/
**/dist/
**/build/
**/.svelte-kit/
**/coverage/
**/target/
**/.dart_tool/
**/.flutter-plugins-dependencies
*.log
.env
.env.*
!.env.example
**/.cache/
/.vscode/settings.json
.pnpm-store/
